for i in 1 2 3 4 5 6 ; do ssh 10worker$i  "cat > openssl-worker$i.cnf <<EOF
[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = 10worker$i
IP.1 = $(dig +short 10worker$i)
EOF"  ; done
